@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent_text_color: 205 82% 65%;
    --bg_color: 207 26% 14%;
    --button_color: 207 46% 54%;
    --button_text_color: 0 0% 100%;
    --bottom_bar_bg_color: 0 0% 100%;
    --destructive_text_color: 357 82% 56%;
    --header_bg_color: 207 26% 14%;
    --hint_color: 210 17% 52%;
    --link_color: 205 82% 65%;
    --link_color_alt: 211 100 50%;
    --secondary_bg_color: 209 22% 20%;
    --section_bg_color: 207 26% 14%;
    --section_header_text_color: 205 82% 65%;
    --subtitle_text_color: 210 17% 52%;
    --text_color: 0 0% 96%;
    --border: 0 0% 95%;
  }
  .dark {
    --accent_text_color: 205 82% 65%;
    --bg_color: 207 26% 14%;
    --button_color: 207 46% 54%;
    --button_text_color: 0 0% 100%;
    --bottom_bar_bg_color: 0 0% 100%;
    --destructive_text_color: 357 82% 56%;
    --header_bg_color: 207 26% 14%;
    --hint_color: 210 17% 52%;
    --link_color: 205 82% 65%;
    --link_color_alt: 211 100 50%;
    --secondary_bg_color: 209 22% 20%;
    --section_bg_color: 207 26% 14%;
    --section_header_text_color: 205 82% 65%;
    --subtitle_text_color: 210 17% 52%;
    --text_color: 0 0% 96%;
    --border: 0 0% 95%;
  }
  html {
    @apply min-h-screen;
  }
  body {
    @apply font-sans;
  }

  #root {
    @apply flex flex-col min-h-screen;
    > div:first-child {
      @apply flex-1 flex flex-col;
    }
  }
}

.prose {
  ul,
  ol {
    @apply pl-6 my-2;
  }
  li {
    @apply pl-0;
    p {
      @apply my-0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-2;
  }
  p {
    @apply my-2;
  }
}
